@* @{
    ViewData["Title"] = "Uploaded Images";
}

<h1>@ViewData["Title"]</h1> *@
<h2 class="text-primary text-center">Upload image</h2><br />

<table class="table table-bordered table-striped table-hover table-active">
    <thead>
        <tr>
            <th>Id</th>
            <th>File Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var image in Model)
        {
            <tr>
                <td>@image.Id</td>
                <td>@image.FileName</td>
                <td>
                    <a href="@Url.Action("Download", "Image", new { id = image.Id })" class=" btn btn-outline-success">Download</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Upload", "Image")" class=" btn btn-outline-success">Upload Image</a>
